.about {
  padding: 15px 50px;

  @media (min-width: @desktop-width) {
    width: 700px;
    margin: 0 auto;
  }
}

.about__title {
  .title;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding-bottom: 40px;
  }
}

.about__list {
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.about__item {
  .font-subtitle;
  color: @color-main-title;
  font-weight: bold;
  list-style-type: none;
  padding: 17px 0;

  @media (min-width: @tablet-width) {
    width: 50%;
    font-size: 20px;
  }
}

.about__icon {
  display: block;
  height: 40px;
  width: 50px;
  margin-bottom: 17px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  fill: @color-accent-text;

  &--flower {
    background-image: url("/img/icon-feature-flower.svg");
  }

  &--money {
    background-image: url("/img/icon-feature-money.svg");
  }

  &--like {
    background-image: url("/img/icon-feature-heart.svg");
    background-size: 100% 75%;
  }

  &--strings {
    background-image: url("/img/icon-feature-ball.svg");
  }

  &--rocket {
    background-image: url("/img/icon-feature-rocket.svg");
  }

  &--box {
    background-image: url("/img/icon-feature-gift.svg");
  }
}
