.btn {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  background-color: transparent;
  padding: 12px;
  border: solid 2px @color-main-text;
  text-transform: uppercase;
  color: @color-main-text;
  text-decoration: none;
  text-align: center;

  &--add {
    background-color: @bg-color-btn;
    border-color: @bg-color-btn;
    color: @color-green-btn;
  }
}
