.btn {
  display: block;
  font-size: 1.133334em;
  line-height: 1.17647;
  font-weight: bold;
  background-color: transparent;
  padding: 1em;
  border: solid 2px @color-main-text;
  text-transform: uppercase;
  color: @color-main-text;
  text-decoration: none;

  &--add {
    background-color: @bg-color-btn;
    border-color: @bg-color-btn;
    color: @color-green-btn;
  }
}
