.contacts {
  padding: 15px 0 0;
  display: none;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0 30px 60px;
}

.contacts__list {
  padding: 0 30px;
}

.contacts__item {
  padding-bottom: 30px;
}

.contacts__message {
  margin: 30px 20px;
}
