.copyright {
  padding: 1.6333em 2em;
}

.copyright__text {
  .font-title;
}

.copyright__link {
  display: block;
  height: 2.334em;
  background-image: url("/img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}
