.copyright {
  padding: 24px 30px 20px;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 30%;
    justify-content: flex-end;
    height: 26px;
  }
}

.copyright__text {
  .font-title;

  @media (min-width: @tablet-width) {
    font-size: 19px;
  }
}

.copyright__link {
  display: block;
  height: 25px;
  width: 25px;
  margin-left: 30px;
  fill: @color-accent-text;

  @media (min-width: @tablet-width) {
    margin-left: 26px;
  }
}
