.featured {
  .section;
}

.featured__title {
  .title;
}

.featured__subtitle {
  display: block;
  .font-subtitle;
  text-transform: uppercase;
  color: @color-accent-text;
  padding-bottom: 1.7647em;
}

.featured__description {
  margin: 0;
  line-height: 1.6;
  padding-bottom: 0.3333em;
}

.featured__details-list {
  padding: 1em 0;
}

.featured__line {
  border-bottom: solid 1px @color-table-line;
  padding: 0.66666em 0;
  display: table;
  line-height: 1.333333;
}

.featured__picture {
  padding: 1em 0;
}

.featured__price {
  .font-subtitle;
  font-weight: bold;
  margin: 0;
  padding: 0.88235em 0 1.7647em;
}

.featured__order {
  margin-bottom: 2em;
}
