.featured {
  padding: 13px calc((100vw - 260px) / 2);

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 30px 0 0;
    background-image: url("/img/triple-set-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 334px 405px;
    background-position: right bottom;
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    background-size: 50% 92%;
    padding-top: 109px;
    width: 1050px;
  }
}

.featured__title-wrap {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row-reverse;
  }
}

.featured__title {
  .title;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-right: auto;
    font-size: 52px;
    margin-left: 7px;
  }
}

.featured__subtitle {
  display: block;
  .font-subtitle;
  text-transform: uppercase;
  color: @color-accent-text;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1.2;
    padding: 11px 25px;
    text-align: center;
    width: 75px;
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    padding: 14px 45px;
  }
}

.featured__description {
  margin: 0;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    width: 290px;
    padding-bottom: 18px;
    line-height: 1.8;
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 176px;
    padding-bottom: 29px;
  }
}

.featured__details-list {
  padding: 17px 0;
  width: 100%;
  border-spacing: 0;

  @media (min-width: @tablet-width) {
    width: 290px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 176px;
    margin-bottom: 54px;
  }
}

.featured__line {
  border-bottom: solid 1px @color-table-line;
  padding: 9px 0 8px;
  display: table;
  line-height: 20px;
  width: 100%;
  border-spacing: 0;
}

.featured__field {
  width: 94px;
}

.featured__picture {
  padding: 14px 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.featured__price {
  .font-subtitle;
  font-weight: bold;
  margin: 0;
  padding: 6px 0 26px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 290px;
    padding-top: 40px;
    padding-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 176px;
    font-size: 20px;
    padding-bottom: 35px;
  }
}

.featured__order {
  margin-bottom: 22px;
  width: 100%;
  box-sizing: border-box;


  @media (min-width: @tablet-width) {
    width: 290px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 176px;
  }
}
