.form {
  padding: 6px calc((100vw - 260px) / 2) 30px;

  @media (min-width: @tablet-width) {
    padding: 56px 0 27px;
  }
}

.form__title {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -100%;
  left: -100%;
}

.form__wrap {
  font-size: 15px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.form__description {
  font-size: 13px;
  line-height: 1.9;
  margin: 0;
  padding-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    padding: 0 calc((100vw - 668px) / 2) 6px;
  }

  @media (min-width: @desktop-width) {
    padding: 47px calc((100vw - 1150px) / 2 + 225px) 6px;
  }
}

.form__box {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
    width: 668px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.form__input-set {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__fieldset {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: @color-accent-text;
  border-left: none;
  border-right: none;
  border-bottom: none;
  .font-subtitle;
  font-weight: bold;
  margin: 0 0 21px;
  padding: 0;

  &:nth-child(3) {
    margin-bottom: 12px;

    @media (min-width: @tablet-width) {
      padding-left: calc((100vw - 768px) / 2 + 200px);

      .form__line {
        width: 256px;
        padding-bottom: 1px;
      }
    }

    @media (min-width: @desktop-width) {
      padding-left: calc((100vw - 1150px) / 2 + 226px);
      padding-right: calc((100vw - 1150px) / 2 + 190px);

      .form__line {
        width: 210px;
      }
    }
  }

  &:nth-child(4) {
    margin-bottom: 18px;

    @media (min-width: @tablet-width) {
      margin-bottom: 2px;

      .form__legend {
        top: 55px;
      }
    }
  }

  &:nth-child(5) {
    margin-bottom: 16px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
      padding-top: 43px;
      padding-bottom: 0;
    }
  }

  &:nth-child(7) {
    margin-bottom: 3px;

    @media (min-width: @tablet-width) {
      margin-bottom: 8px;

      .form__legend {
        top: 64px;
      }
    }
  }

  @media (min-width: @tablet-width) {
    border: none;
    padding: 36px calc((100vw - 668px) / 2) 39px calc((100vw - 768px) / 2 + 218px);
    margin-bottom: 0;

    &:nth-child(4) {
      padding-bottom: 30px;
    }

    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(6) {
      background-color: @bg-color-footer;
    }

    &:nth-child(6) {
      padding-top: 15px;
      padding-bottom: 41px;

      .form__legend {
        top: 35px;
      }

      .form__line {
        padding-top: 3px;
        padding-bottom: 8px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: calc((100vw - 1150px) / 2 + 226px);

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      padding-right: calc((100vw - 1150px) / 2 + 225px);
    }

    &:nth-child(7) {
      margin-bottom: 0;
      padding-bottom: 43px;
    }
  }
}

.form__legend {
  color: @color-accent-text;
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 0;
  margin-bottom: 15px;

  &--no-margin-bottom {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 61px;
    left: calc((100vw - 668px) / 2);
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    left: calc((100vw - 1150px) / 2 + 112px);
  }
}

.form__line {
  position: relative;
  margin: 0;
  padding: 7px 0;

  @media (min-width: @tablet-width) {
    padding: 13px 0;
  }
}

.form__btn {
  margin-bottom: 24px;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin-bottom: 0;
  }
}

.form__label {
  position: relative;
  display: flex;

  @media (min-width: @tablet-width) {
    align-items: center;
    font-size: 19px;
  }

  &--user-data {
    flex-direction: column;

    @media (min-width: @tablet-width) {
      flex-direction: row;
      margin-bottom: 16px;
      line-height: 18px;
    }
  }
}
