.header {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  background-color: @bg-color-footer;

  &--with-bg {
    background-image: url("/img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: top;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px;
  }
}

.header__slogan {
  display: block;
  .font-page-title;
  height: 285px;
  padding: 75px 30px 30px;
  color: @color-main-title;
  box-sizing: border-box;
  text-align: center;

  @media (min-width: @tablet-width) {
    height: 630px;
    padding: 165px 85px 30px;
    width: 100%;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.header__title {
  .font-page-title;
  padding: 75px 30px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 105px 0;
  }
}

.header__link {
  .font-title;
  padding: 30px;
  color: @color-green-btn;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 50%;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    padding-left: 35px;
    padding-right: 35px;
  }

  &--left {
    background-color: @bg-color-left-green-btn;
  }

  &--right {
    background-color: @bg-color-right-green-btn;
  }
}
