.link {
  &:hover {
    transform-origin: bottom;
    transform: scaleY(1.05);
  }
}

.link__icon {
  display: block;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 55px;
  width: 55px;
  opacity: 0.5;

  .header__link:hover & {
    opacity: 0.7;
  }

  .header__link:focus &,
  .header__link:active & {
    opacity: 0.3;
  }

  &--interior {
    background-image: url("/img/icon-interior.svg");
  }

  &--toy {
    background-image: url("/img/icon-toy.svg");
  }
}

.link__label {
  width: 120px;

  .header__link:focus &,
  .header__link:active & {
    opacity: 0.3;
  }
}
