.link__icon {
  display: block;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 2em;
  opacity: 0.5;
  &--interior {
    background-image: url(/img/icon-interior.svg);
  }
  &--toy {
    background-image: url(/img/icon-toy.svg);
  }
}
