.main-nav__toggle {
  background-color: transparent;
  border: none;
  color: transparent;
  font-size: 0.2em;
  height: 8em;
  width: 8em;
  background-image: url('/img/icon-menu-close.svg');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}
