.modal {
  padding: 2em;
  border: solid 1px @border-color-modal;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.modal__title {
  font-size: 1.66667em;
  line-height: 1.199999em;
  margin: 0;
  padding: 0.2em 0;
}

.modal__text {
  margin: 0;
  padding: 0.6em 0;
}

.modal__selector {
  padding: 1em 0;
}

.modal__add {
  margin: 0.88235em 0;
}
