.page-footer {
  background-color: @bg-color-footer;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px calc((100vw - 668px) / 2) 60px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    padding: 50px calc((100vw - 1050px) / 2) 60px;
  }
}

.page-footer__line {
  display: block;
  margin: 0 30px;
  height: 1px;
  background-color: @color-divder;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-footer__logo-link {
  display: none;
  width: 102px;
  height: 34px;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.page-footer__logo {
  @media (min-width: @tablet-width) {
    width: 30%;
  }

  &:hover {
    svg {
      fill: @color-accent-text;
    }
  }

  &:focus,
  &:active {
    opacity: 0.3;

    svg {
      fill: @color-accent-text;
    }
  }
}
