.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;


  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
  }
}

.page-header__logo {
  padding: 20px 30px;
  display: flex;
  margin: 0 auto;
  position: relative;
  z-index: 10;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    padding: 20px 0;
    height: 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
  }
}
