.review__description {
  line-height: 2em;
  margin: 0;
  padding-bottom: 4em;
}

.review__autor {
  .font-subtitle;
  padding-bottom: 2em;
}

.review__name {
  display: block;
  padding-bottom: 0.5em;
}
