.slider {
  font-size: 1em;
}

.slider__toggles {
  padding-bottom: 2.2em;
}

.slider__toggle {
  border: 1px solid @color-nav-border;
  font-size: 1em;
  height: 3.6em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  &--prev {
    background-image: url("/img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("/img/icon-right-arrow.svg");
  }
}

.reviews__message {
  margin-bottom: 2em;
}
