.slider {
  font-size: 15px;
}

.slider__toggles {
  padding-bottom: 38px;
  display: flex;
}

.slider__toggle {
  border: 1px solid @color-nav-border;
  font-size: 15px;
  height: 50px;
  width: 130px;
  margin: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 87px;
    background-size: 56%;
    border: none;
  }

  &--prev {
    background-image: url("/img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("/img/icon-right-arrow.svg");
  }
}

.reviews__message {
  margin-bottom: 34px;
}
