.social {
  padding: 30px 30px 21px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social__item {
  list-style-type: none;
  width: 30px;
  height: 30px;
  margin: 0 15px;

  @media (min-width: @tablet-width) {
    height: 13px;
    width: 27px;
  }
}

.social__link {
  height: 22px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-width: @tablet-width) {
    height: 20px;
  }

  svg {
    height: 100%;
  }

  &--fb {
    height: 29px;
    transform: translate(5px, -5px);
  }
}
