.text {
  .font-subtitle;
  display: block;
  line-height: 2.8em;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 2px solid @color-main-title;

  &::placeholder {
    color: @color-nav-border;
  }
}
