.font-page-title {
  font-size: 27px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .font-page-title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .font-page-title {
    font-size: 53px;
    line-height: 57px;
  }
}
@font-face {
  font-family: "opensans";
  src: url("/fonts/opensans.woff2") format("woff2"), url("/fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "opensans";
  src: url("/fonts/opensansbold.woff2") format("woff2"), url("/fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
.about {
  padding: 15px 30px;
}
@media (min-width: 1150px) {
  .about {
    padding-left: 50px;
    padding-right: 50px;
    width: 700px;
    margin: 0 auto;
  }
}
.about__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 8px;
  color: #000000;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .about__title {
    font-size: 53px;
    line-height: 57px;
  }
}
@media (min-width: 768px) {
  .about__title {
    padding-bottom: 40px;
  }
}
.about__list {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.about__item {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  list-style-type: none;
  padding: 17px 0;
}
@media (min-width: 768px) {
  .about__item {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .about__item {
    width: 50%;
    font-size: 20px;
  }
}
.about__icon {
  display: block;
  height: 40px;
  width: 50px;
  margin-bottom: 17px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  fill: #63d1bb;
}
.about__icon--flower {
  background-image: url("/img/icon-feature-flower.svg");
}
.about__icon--money {
  background-image: url("/img/icon-feature-money.svg");
}
.about__icon--like {
  background-image: url("/img/icon-feature-heart.svg");
  background-size: 100% 75%;
}
.about__icon--strings {
  background-image: url("/img/icon-feature-ball.svg");
}
.about__icon--rocket {
  background-image: url("/img/icon-feature-rocket.svg");
}
.about__icon--box {
  background-image: url("/img/icon-feature-gift.svg");
}
.btn-play {
  font-size: 15px;
}
.btn-small {
  font-size: 17px;
  line-height: 24px;
  border: solid 2px #ececec;
  padding: 12px;
}
@media (min-width: 768px) {
  .btn-small {
    font-size: 20px;
  }
}
.btn {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  background-color: transparent;
  padding: 17px;
  border: solid 2px #444444;
  text-transform: uppercase;
  color: #444444;
  text-decoration: none;
}
.btn--add {
  background-color: #63d1bb;
  border-color: #63d1bb;
  color: #ffffff;
}
.checkbox {
  display: none;
}
.checkbox:checked + .checkbox__custom::before {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  background-image: url("/img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.checkbox__custom {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #000000;
}
.checkbox__label {
  display: inline-block;
}
.contact__email {
  margin: 0;
  color: currentColor;
  -webkit-text-decoration-color: #63d1bb;
          text-decoration-color: #63d1bb;
}
.contact__address {
  margin: 0;
  text-decoration: none;
  color: currentColor;
}
.contact__field,
.contact__value {
  margin: 0;
}
.contacts {
  padding: 15px 0 0;
  display: none;
}
.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0 30px 60px;
}
.contacts__list {
  padding: 0 30px;
}
.contacts__item {
  padding-bottom: 30px;
}
.contacts__message {
  margin: 30px 20px;
}
.copyright {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .copyright {
    padding: 0;
    width: 30%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.copyright__text {
  font-size: 19px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .copyright__text {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .copyright__text {
    font-size: 19px;
  }
}
.copyright__link {
  display: block;
  height: 35px;
  width: 30px;
  margin-left: 30px;
  background-image: url("/img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}
.featured {
  padding: 15px 30px;
}
@media (min-width: 768px) {
  .featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0 0;
    background-image: url("/img/triple-set-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 334px 422px;
    background-position: right bottom;
    width: 668px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .featured {
    background-size: 50% 100%;
    padding-top: 60px;
    width: 1050px;
  }
}
@media (min-width: 768px) {
  .featured__title-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}
@media (min-width: 1150px) {
  .featured__title-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.featured__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 8px;
  color: #000000;
}
@media (min-width: 768px) {
  .featured__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .featured__title {
    font-size: 53px;
    line-height: 57px;
  }
}
@media (min-width: 768px) {
  .featured__title {
    padding-bottom: 0;
    margin-bottom: 60px;
  }
}
@media (min-width: 1150px) {
  .featured__title {
    margin-right: auto;
  }
}
.featured__subtitle {
  display: block;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #63d1bb;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .featured__subtitle {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .featured__subtitle {
    padding: 0 30px;
    width: 75px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}
@media (min-width: 1150px) {
  .featured__subtitle {
    margin-left: 0;
    padding: 0 50px;
  }
}
.featured__description {
  margin: 0;
  line-height: 24px;
  padding-bottom: 5px;
}
@media (min-width: 768px) {
  .featured__description {
    width: 290px;
    padding-bottom: 25px;
  }
}
@media (min-width: 1150px) {
  .featured__description {
    margin-left: 180px;
  }
}
.featured__details-list {
  padding: 15px 0;
  width: 100%;
}
@media (min-width: 768px) {
  .featured__details-list {
    width: 290px;
  }
}
@media (min-width: 1150px) {
  .featured__details-list {
    margin-left: 180px;
  }
}
.featured__line {
  border-bottom: solid 1px #ececec;
  padding: 10px 0;
  display: table;
  line-height: 20px;
  width: 100%;
}
.featured__field {
  width: 35%;
}
.featured__picture {
  padding: 15px 0;
}
@media (min-width: 768px) {
  .featured__picture {
    display: none;
  }
}
.featured__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  padding: 15px 0 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .featured__price {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .featured__price {
    width: 290px;
    padding-top: 45px;
  }
}
@media (min-width: 1150px) {
  .featured__price {
    margin-left: 180px;
    font-size: 20px;
    padding-bottom: 40px;
  }
}
.featured__order {
  margin-bottom: 30px;
  width: 100%;
}
@media (min-width: 768px) {
  .featured__order {
    width: 290px;
    margin-bottom: 0;
  }
}
@media (min-width: 1150px) {
  .featured__order {
    margin-left: 180px;
  }
}
.footnote {
  font-size: 13px;
  display: block;
  padding-bottom: 26px;
}
.form-wrap {
  font-size: 15px;
}
.form {
  padding: 15px 30px;
  padding-bottom: 2em;
  display: none;
}
.form__description {
  font-size: 0.86667em;
  line-height: 2.30768;
  margin: 0;
  padding: 0 0 2.30768em;
}
.form__fieldset {
  border-color: #63d1bb;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .form__fieldset {
    font-size: 20px;
  }
}
.form__legend {
  color: #63d1bb;
  text-transform: uppercase;
  padding-right: 1.1765em;
}
.form__line {
  margin: 0;
  padding: 1em 0;
}
.form__line--no-padding-top {
  padding: 0 0 2em;
}
.form__btn {
  margin-bottom: 1em;
}
.form__label {
  position: relative;
}
.header {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f1f1f1;
}
.header--with-bg {
  background-image: url("/img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 170%;
  background-position: top;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .header--with-bg {
    background-image: url("/img/hero-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .header--with-bg {
    background-image: url("/img/hero-tablet@1x.jpg");
    background-size: auto 100%;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .header--with-bg {
    background-image: url("/img/hero-tablet@2x.jpg");
  }
}
@media (min-width: 1150px) {
  .header--with-bg {
    background-image: url("/img/hero-desktop@1x.jpg");
  }
}
@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .header--with-bg {
    background-image: url("/img/hero-desktop@2x.jpg");
  }
}
@media (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 50px;
  }
}
.header__slogan {
  display: block;
  font-size: 27px;
  line-height: 30px;
  height: 285px;
  padding: 75px 30px 30px;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
@media (min-width: 768px) {
  .header__slogan {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .header__slogan {
    font-size: 53px;
    line-height: 57px;
  }
}
@media (min-width: 768px) {
  .header__slogan {
    height: 630px;
    padding: 165px 85px 30px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (min-width: 1150px) {
  .header__slogan {
    padding-left: 175px;
    padding-right: 175px;
  }
}
.header__title {
  font-size: 27px;
  line-height: 30px;
  padding: 75px 30px;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .header__title {
    font-size: 53px;
    line-height: 57px;
  }
}
@media (min-width: 768px) {
  .header__title {
    padding: 105px 0;
  }
}
.header__link {
  font-size: 19px;
  line-height: 24px;
  padding: 30px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .header__link {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .header__link {
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (min-width: 1150px) {
  .header__link {
    padding-left: 35px;
    padding-right: 35px;
  }
}
.header__link--left {
  background-color: #63d1bb;
}
.header__link--right {
  background-color: #56c3b2;
}
.item {
  font-size: 15px;
}
.link__icon {
  display: block;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  height: 55px;
  width: 55px;
  opacity: 0.2;
}
.link__icon--interior {
  background-image: url("/img/icon-interior.svg");
}
.link__icon--toy {
  background-image: url("/img/icon-toy.svg");
}
.link__label {
  width: 120px;
}
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .main-nav--opened .main-nav__toggle {
    background-image: url("/img/icon-menu-close.svg");
  }
  .main-nav--closed .main-nav__toggle {
    background-image: url("/img/icon-menu-open.svg");
  }
  .main-nav--closed .main-nav__list {
    display: none;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__list {
    display: block;
  }
}
.main-nav__toggle {
  background-color: transparent;
  border: none;
  color: transparent;
  height: 22px;
  width: 22px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin: -52px 30px 28px auto;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.modal {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal--closed {
  opacity: 0;
  pointer-events: none;
}
.modal--opened {
  pointer-events: all;
  background-color: rgba(255, 255, 255, 0.9);
}
.modal__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: solid 1px #c6c6c6;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  width: 320px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 768px) {
  .modal__wrap {
    width: 570px;
    padding-left: 105px;
    padding-right: 105px;
  }
}
.modal__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 5px 0;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
@media (min-width: 768px) {
  .modal__title {
    font-size: 30px;
    line-height: 57px;
  }
}
.modal__text {
  margin: 0;
  padding: 9px 0;
  text-align: center;
}
.modal__selector {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal__size {
  width: 32%;
}
.modal__add {
  margin: 13px 0;
}
.page-footer {
  background-color: #f1f1f1;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 768px;
    padding: 30px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (min-width: 1150px) {
  .page-footer {
    width: 1150px;
  }
}
.page-footer__line {
  display: block;
  margin: 0 30px;
  height: 1px;
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .page-footer__line {
    display: none;
  }
}
.page-footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .page-footer__logo {
    display: block;
    width: 30%;
  }
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  margin: 0 auto;
  border-bottom: solid 1px #ececec;
}
@media (min-width: 768px) {
  .page-header {
    width: 768px;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
}
@media (min-width: 1150px) {
  .page-header {
    width: 1150px;
  }
}
.page-header__logo {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
@media (min-width: 768px) {
  .page-header__logo {
    margin-left: 0;
    padding: 20px 0;
    height: 46px;
    width: 113px;
  }
}
@media (min-width: 1150px) {
  .page-header__logo {
    margin: 0 auto;
    height: 72px;
    width: 149px;
  }
}
.page-header__logo img {
  height: 100%;
  width: 100%;
}
.page-main {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-main {
    width: 768px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media (min-width: 1150px) {
  .page-main {
    width: 1150px;
  }
}
.products {
  padding: 15px 30px;
}
@media (min-width: 768px) {
  .products {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.products__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1150px) {
  .products__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.products__item {
  list-style-type: none;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .products__item {
    margin-bottom: 55px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1150px) {
  .products__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 315px;
  }
}
.products__link {
  font-size: 17px;
  line-height: 24px;
  display: block;
  color: #444444;
  text-decoration: none;
  margin: 0;
}
@media (min-width: 768px) {
  .products__link {
    font-size: 20px;
  }
}
.products__link--img {
  height: 195px;
}
@media (min-width: 768px) {
  .products__link--img {
    width: 50%;
    height: 334px;
  }
}
@media (min-width: 1150px) {
  .products__link--img {
    height: 460px;
    width: 100%;
  }
}
.products__link--title {
  font-weight: bold;
  padding-bottom: 17px;
}
@media (min-width: 768px) {
  .products__link--title {
    padding-bottom: 0;
  }
}
.products__description-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  border: 1px solid #ececec;
}
@media (min-width: 768px) {
  .products__description-box {
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 1150px) {
  .products__description-box {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.products__description {
  font-size: 13px;
  padding-bottom: 26px;
  margin: 0;
  line-height: 30px;
}
@media (min-width: 768px) {
  .products__description {
    font-size: 15px;
  }
}
.products__line {
  display: block;
  height: 1px;
  background-color: #ececec;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .products__line {
    margin-top: auto;
  }
}
.products__price {
  font-weight: bold;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .products__price {
    font-size: 17px;
    line-height: 24px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .products__price {
    font-size: 20px;
  }
}
.products__icon {
  background-color: transparent;
  height: 25px;
  width: 25px;
  border: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
}
.products__icon--order {
  background-image: url("/img/icon-cart.svg");
}
.radio {
  display: none;
}
.radio:checked + .radio__custom::before {
  content: "";
  display: block;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  border-radius: 50%;
  background-color: #63d1bb;
}
.radio__custom {
  display: inline-block;
  position: relative;
  width: 2em;
  height: 2em;
  border: 2px solid #000000;
  border-radius: 50%;
}
.radio__label {
  display: inline-block;
}
.reviews {
  padding: 15px 30px;
  display: none;
}
.reviews__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 8px;
  color: #000000;
  padding-bottom: 1.2em;
}
@media (min-width: 768px) {
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
}
.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.review__description {
  line-height: 2em;
  margin: 0;
  padding-bottom: 4em;
}
.review__autor {
  font-size: 17px;
  line-height: 24px;
  padding-bottom: 2em;
}
@media (min-width: 768px) {
  .review__autor {
    font-size: 20px;
  }
}
.review__name {
  display: block;
  padding-bottom: 0.5em;
}
.site-list {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
}
.site-list__item {
  font-size: 17px;
  line-height: 24px;
  list-style-type: none;
  font-weight: bold;
  border-top: solid 1px #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .site-list__item {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .site-list__item {
    border-top: none;
  }
}
.site-list__item--info {
  display: none;
  margin-left: auto;
  padding: 20px 0;
}
@media (min-width: 768px) {
  .site-list__item--info {
    display: block;
  }
}
.site-list__item--only-desktop {
  display: none;
  font-size: 15px;
  margin-right: 65px;
}
@media (min-width: 1150px) {
  .site-list__item--only-desktop {
    display: block;
  }
}
@media (min-width: 768px) {
  .site-list__item:nth-child(1) {
    margin-right: 30px;
  }
}
@media (min-width: 1150px) {
  .site-list__item:nth-child(1) {
    margin-right: 35px;
    padding-right: 35px;
    border-right: 1px solid #ececec;
  }
}
@media (min-width: 768px) {
  .site-list__item:nth-child(1) .site-list__icon,
  .site-list__item:nth-child(2) .site-list__icon {
    display: none;
  }
  .site-list__item:nth-child(1) .site-list__link,
  .site-list__item:nth-child(2) .site-list__link {
    font-size: 15px;
  }
}
@media (min-width: 1150px) {
  .site-list__item:nth-child(1) .site-list__link,
  .site-list__item:nth-child(2) .site-list__link {
    font-size: 17px;
  }
}
@media (min-width: 768px) {
  .site-list__item:nth-child(3) {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin-left: auto;
    margin-right: 30px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (min-width: 1150px) {
  .site-list__item:nth-child(3) {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
    width: 35%;
  }
}
@media (min-width: 768px) {
  .site-list__item:nth-child(3) .site-list__link {
    border-left: solid 1px #ececec;
    border-right: solid 1px #ececec;
    height: 90px;
    width: 85px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) {
  .site-list__item:nth-child(3) .site-list__icon {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .site-list__item:nth-child(3) .site-list__label {
    display: none;
  }
}
@media (min-width: 768px) {
  .site-list__item:nth-child(4) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media (min-width: 1150px) {
  .site-list__item:nth-child(4) {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}
.site-list__item:hover .site-list__label {
  opacity: 0.6;
}
.site-list__item:hover .site-list__icon {
  opacity: 1;
}
.site-list__item:hover .site-list__icon path {
  fill: #63d1bb;
}
.site-list__item:active .site-list__label,
.site-list__item:focus .site-list__label {
  opacity: 0.3;
}
.site-list__item:active .site-list__icon,
.site-list__item:focus .site-list__icon {
  opacity: 0.3;
}
.site-list__item:active .site-list__icon path,
.site-list__item:focus .site-list__icon path {
  fill: #63d1bb;
}
.site-list__link {
  color: #000000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}
@media (min-width: 768px) {
  .site-list__link {
    padding: 20px 0;
  }
}
.site-list__icon {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-list__info {
  font-size: 15px;
  font-weight: normal;
}
.slider {
  font-size: 1em;
}
.slider__toggles {
  padding-bottom: 2.2em;
}
.slider__toggle {
  border: 1px solid #ececec;
  font-size: 1em;
  height: 3.6em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.slider__toggle--prev {
  background-image: url("/img/icon-left-arrow.svg");
}
.slider__toggle--next {
  background-image: url("/img/icon-right-arrow.svg");
}
.reviews__message {
  margin-bottom: 2em;
}
.social {
  padding: 30px;
}
@media (min-width: 768px) {
  .social {
    padding: 0;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__item {
  list-style-type: none;
  width: 30px;
  height: 30px;
  margin: 0 15px;
}
@media (min-width: 768px) {
  .social__item {
    height: 20px;
    width: 20px;
  }
}
.social__link {
  height: 30px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (min-width: 768px) {
  .social__link {
    height: 20px;
  }
}
.social__link--instagram {
  background-image: url("/img/icon-insta.svg");
}
.social__link--fb {
  background-image: url("/img/icon-fb.svg");
}
.social__link--twitter {
  background-image: url("/img/icon-twitter.svg");
}
.tel {
  font-size: 1em;
}
.text {
  font-size: 17px;
  line-height: 24px;
  display: block;
  line-height: 2.8em;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 2px solid #000000;
}
@media (min-width: 768px) {
  .text {
    font-size: 20px;
  }
}
.text::-webkit-input-placeholder {
  color: #ececec;
}
.text:-ms-input-placeholder {
  color: #ececec;
}
.text::-ms-input-placeholder {
  color: #ececec;
}
.text::placeholder {
  color: #ececec;
}
.textarea {
  font-size: 17px;
  line-height: 24px;
  margin: 1em 0;
  padding: 1em;
  border: 2px solid #000000;
}
@media (min-width: 768px) {
  .textarea {
    font-size: 20px;
  }
}
.video {
  padding: 15px 30px;
  display: none;
}
.video__wrapp {
  border: 1px solid #ececec;
}
.video__title {
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding: 1.7647em;
}
@media (min-width: 768px) {
  .video__title {
    font-size: 20px;
  }
}
.video__icon {
  background-image: url("/img/icon-video.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: block;
  height: 2em;
}
.video__description {
  font-size: 0.86667em;
  line-height: 2.30768;
  margin: 0;
  padding: 2.30768em;
}
.video__button {
  margin: 0 1.7647em 1.7647em;
}
.video__button--play {
  margin: 0;
  width: 10.819em;
  height: 7.546em;
  background-image: url("/img/icon-play.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-position: center;
}
.zigzag-line {
  background-image: url("/img/bg-zigzag-line.svg");
  background-size: auto 100%;
  height: 10px;
}
@media (min-width: 768px) {
  .zigzag-line {
    height: 20px;
    width: 100%;
    margin: 50px 0;
  }
}
@media (min-width: 1150px) {
  .zigzag-line {
    height: 30px;
    margin: 70px auto;
    width: 1050px;
  }
}
body {
  background: #fff;
  font-family: "opensans", sans-serif;
  font-size: 15px;
  color: #444444;
  margin: 0;
  min-width: 320px;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
